.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.product-title {
    display: -webkit-box;
    /* Thiết lập chế độ hiển thị */
    -webkit-box-orient: vertical;
    /* Định hướng chiều dọc */
    -webkit-line-clamp: 2;
    /* Giới hạn số dòng hiển thị */
    overflow: hidden;
    /* Ẩn nội dung vượt quá */
    text-overflow: ellipsis;
    /* Hiển thị dấu ba chấm */
}

/* CSS Admin */
.menu-header-top:hover,
.menu-header-bottom:hover {
    background-color: #fff;
    color: #111;
}

.menu-header-top:hover,
.menu-header-bottom:hover {
    border: 1px solid #0d6efd;
}

/* Phân trang */
.thanhphantrang {
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 40px;
}

.thanhphantrang li {
    display: inline-block;
    margin: 15px 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: 0.5px solid #888;
    border-radius: 5px;
}

.thanhphantrang li a {
    color: #555;
    font-weight: bold;
}

.thanhphantrang li.selected {
    background: #f63440;
    color: #fff;
    border: 0.5px solid #f63440;
}

.thanhphantrang li:hover {
    background: #f63440;
    color: #fff;
    border: 0.5px solid #f63440;
    cursor: pointer;
}

.thanhphantrang li a:hover {
    color: #fff;
    cursor: pointer;
}

.hinhanh {
    background-color: #999;
    color: #fff;
    border: 1px solid #999;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.hinhanh:hover {
    cursor: pointer;
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
}

.adminspsua input[type="number"]::-webkit-inner-spin-button,
.adminspsua input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.lichsukho:hover {
    text-decoration: underline !important;
    cursor: pointer;
}


/* End CSS Admin */

/* CSS LoginSignupForm */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.lg {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
}

p {
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.btn-login,
.btn-register {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
    border: 2px solid rgb(203, 182, 182);
    border-radius: 5px;
}

button.ghost:hover {
    background-color: #fff;
    color: #FF4B2B;
    border: 2px solid #fff;
    transition: background-color 0.6s ease, color 0.6s ease, border 0.6s ease;
}

.form-login {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form-login input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 10px;
}

.login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1200px;
    max-width: 100%;
    min-height: 600px;
}

.form-login {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-login {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login.right-panel-active .sign-in-login {
    transform: translateX(100%);
}

.sign-up-login {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login.right-panel-active .sign-up-login {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-login {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 50;
}

.login.right-panel-active .overlay-login {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.login.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.login.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.login.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-login {
    margin: 20px 0;
}

.social-login a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.box-login .submenu {
    width: 190px;
    display: none;
    /* Ẩn menu con theo mặc định */
    position: absolute;
    /* Đặt vị trí menu con */
    background-color: white;
    /* Màu nền cho menu con */
    border-top: 2px solid #ff0606;
    /* Đường viền cho menu con */
    z-index: 100;
    /* Đảm bảo menu con nằm trên các phần tử khác */
    padding: 10px 0; /* Padding trên và dưới */
}

.box-login:hover .submenu {
    display: block; 
}

.submenu li a {
    margin: 10px;
    text-decoration: none;
    /* Xóa gạch chân cho liên kết */
    color: rgb(66, 65, 65);
    /* Màu chữ cho liên kết */
    display: block;
    /* Để liên kết chiếm toàn bộ chiều rộng của mục menu */
}

.submenu li:hover {
    background-color: #f0f0f0;
    /* Thay đổi màu nền khi hover vào mục menu */

}

.grid.four {
    display: flex;
    flex-wrap: wrap;
}

.grid.four .post {
    width: 23%; /* Điều chỉnh cho phù hợp với khoảng cách */
    margin: 1%;
}


